<% include ./partials/header %>
<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/login" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            
            <label for="inputUsername" class="sr-only">Username</label>
            <input class="form-control" type="text" id="inputUsername" name="username" placeholder="Username" required autofocus>
              
            <label for="inputPassword" class="sr-only">Password</label>
            <input class="form-control" type="password" id="inputPassword" name="password" placeholder="Password" required>
             
            <a class="float-right" href="/forgot">Forgot Password</a>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
        <div class="form-signin">
            <button class="btn btn-light">Not a member? <a href="/register">Create an account now</a></button>
        </div>
        <div class="form-signin">
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>